.small_titles {
    font-size: 30px;
    color: #1681a5;
}

.small_titles:hover {
    font-size: 35px;
    color: rgb(66, 133, 244);
    -moz-transform: scale(1.05) slow;
    -webkit-transform: scale(1.05) slow;
    -o-transform: scale(1.05) slow;
    -ms-transform: scale(1.05) slow;
    -webkit-transform: scale(1.05) slow;
    transform: scale(1.05) slow;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f8f8fa;
    border: 1px solid #959da5;
    color: #303033;
    text-align: center;
    font-size: 18px;
    padding: 8px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
    height: 39PX;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.example_div {
    display: none;
}


/* ----------------------------------------------------------
 */

.doc__nav2 {
    display: block;
}

.wrapper {
    max-width: 59rem;
    width: 100%;
    margin: 0 auto;
}

.tabs {
    position: relative;
    margin: 0rem 0;
    background: #dfe6e4;
    height: 14.75rem;
    width: 100%;
}

.tabs::before,
.tabs::after {
    content: "";
    display: table;
}

.tabs::after {
    clear: both;
}

.tab {
    float: left;
}

.tab-switch {
    display: none;
}

.tab-label {
    position: relative;
    display: block;
    line-height: 2.75em;
    height: 3em;
    padding: 0 1.618em;
    background: #6e82a7;
    ;
    border-right: 0.125rem solid #6e82a7;
    ;
    color: #fff;
    cursor: pointer;
    top: 0;
    transition: all 0.25s;
}

.tab-label:hover {
    top: -0.25rem;
    transition: top 0.25s;
}

.tab-content {
    height: 12rem;
    position: absolute;
    z-index: 1;
    top: 2.75em;
    left: 0;
    padding: 1.618rem;
    background: #fff;
    color: #2c3e50;
    opacity: 0;
    transition: all 0.35s;
    width: 100%;
}

.tab-switch:checked+.tab-label {
    background: #fff;
    color: #2c3e50;
    border-bottom: 0;
    border-right: 0.125rem solid #fff;
    transition: all 0.35s;
    z-index: 1;
    top: -0.0625rem;
}

.tab-switch:checked+label+.tab-content {
    z-index: 2;
    opacity: 1;
    transition: all 0.35s;
}

hr.style13 {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.note {
    background-color: #304c7b;
    font-size: 18px;
    color: white;
    width: 100%;
    border-radius: 7px;
    text-align: center;
    padding: 2px;
}